{% extends 'base.html.twig' %}
{% block title %}Verify Email{% endblock %}
{% block body %}
    <section id="main-container" class="container inner">
        <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
            <li class="ht-breadcrumbs__item"><a href="{{ path('homepage') }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Accueil</span></a></li>
            <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">Verifier mon compte</span></li>
        </ul><!-- ht-breadcrumb -->
        <div class="row">
            <div id="main-content" class="main-content col-xs-12 col-md-12">
                <div id="primary" class="content-area">
                    <div id="content" class="site-content" role="main">
                        <article id="post-8780" class="post-8780 page type-page status-publish hentry">
                            <div class="entry-content-page clearfix">
                                <div class="wpb-container vc_row ">
                                    <div class="wpb-container-inner">
                                        <div class="container">
                                            <div class="vc_row wpb_row vc_row-fluid row ">
                                                <div class="vc_ col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div>
                                                <div class="vc_ col-sm-6">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="panel opalmembership-login-form-wrapper">
                                                                <div class="panel-body">
                                                                    <h3>Inscription</h3>
                                                                    <div class="opalesate-form-wrapper">
                                                                        <h1 class="h3 mb-3 font-weight-normal">Verify your Email</h1>
                                                                        <p>
                                                                            A verification email was sent - please click it to enable your
                                                                            account before logging in.
                                                                        </p>
                                                                        <a href="#" class="btn btn-primary">Re-send Email</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="vc_ col-sm-3"><div class="vc_column-inner"><div class="wpb_wrapper"></div></div></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .entry-content -->
                        </article>
                        <!-- #post-## -->
                    </div>
                    <!-- #content -->
                </div>
                <!-- #primary -->
            </div>
            <!-- #main-content -->
        </div>
    </section>
{% endblock %}