<select name="city" id="listing-city" class="select2-selection__rendered" data-dkcacheid="0" style="width: 100%;" required="required">
    <option value="ALL" selected="">Choisir une ville</option>
    {{ app.get('VillesService').list() }}
    {% for ville in villes %}
        <option value="{{ville.id}}">{{ville.label}}</option>
    {% endfor %}
</select><!-- .main-listing__form-field -->
<div id="listing-city-error"></div>