{% extends 'base.html.twig' %}
{% block meta %}
    <title>Tunisie annonce immobilier - limmobilier.tn Menion legales : Avis général de confidentialité concernant votre vie privée</title>
    <meta name="description" content="Tunisie annonce immobilier - Limmobilier.tn - annonces immobilières : annoncer, acheter, vendre et louer tous types. Avis général de confidentialité concernant votre vie privée" />
{% endblock %}
{% block body %}
    <section class="about-us">
        <div class="container">
            <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
                <li class="ht-breadcrumbs__item"><a href="{{ path('homepage') }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Accueil</span></a></li>
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">Nos conditions d'utilisation</span></li>
            </ul>
            <div class="about-us__main">
                <div class="row">
                    <main class="col-md-8 col-md-main">
                        <h1 class="about-us__title">Nos conditions d'utilisation</h1>
                        <p>Le <strong>site</strong> <strong>limmobilier.tn </strong> ainsi que <strong>l’application </strong><strong>limmobilier.tn</strong> (ci-après la <strong>plateforme limmobilier.tn</strong>) sont gérés par la société Lindon and Levy <strong>limmobilier.tn</strong>, dont le siège social est établi en Tunisie rue du lac maracaibo les berges du lac. La société porte le numéro de TVA 1247001/Z/A/M/000.</p>
                        <p>Le seul fait de votre utilisation de la plateforme implique que vous acceptiez dans leur intégralité et de façon irrévocable, les conditions d’utilisation reprises ci-après.<br /></p>
                        <p>limmobilier.tn se réserve le droit de modifier à tout moment, et sans préavis, les présentes conditions. Nous vous recommandons dès lors de les consulter régulièrement.</p>
                        <p>L’utilisateur garantit que toute annonce qu’il publie sur la plateforme réponde à des critères de qualité qu’un visiteur (site ou application) puisse raisonnablement attendre: le descriptif du bien mis en vente ou en location et les conditions de vente ou location doivent être exacts, clairs et non équivoques. Les éléments de description de l’annonce doivent se retrouver dans les champs prévus à cet effet. Toute annonce fausse ou équivoque pourra être retirée à tout moment par limmobilier.tn , conformément à ce qui est repris à la section suivante : « Restrictions de publication d’annonce ». <br /></p>
                        <p>Les photos destinées à être publiées doivent être de bonne résolution (minimum 1920x1080 pixels). Afin de préserver la qualité de son service, limmobilier.tn  se réserve la possibilité de retirer à tout moment toute photo floue, de mauvaise résolution, présentant une marque, logo ou filigrane, des personnes (identifiables ou non) ou des données de contact, et ce sans contrepartie. <br /><br />limmobilier.tn  se réserve le droit de modifier techniquement le contenu et en particulier le contenu des annonces (ce qui peut arriver dans le cadre d’une réutilisation), notamment de manière à ce qu'elles soient accessibles par divers canaux, par exemple les téléphones portables.</p>
                        <p><a href="https://www.immoweb.be/fr/page/conditions-generales-publier-une-annonce">Consulter les conditions générales pour la publication d'une annonce par les personnes privées.</a></p>
                        <h4>
                            La publication des annonces 
                        </h4>
                        <p>La publication des annonces est gratuite.<br /></p>
                        <p>Nous nous réservons le droit unilatéral de refuser ou de désactiver avant son terme, et ce sans contrepartie, une annonce placée sur notre plateforme dans les cas suivants : <br /></p>
                        <ul>
                            <li>Une annonce qui porte sur un bien déjà vendu ou loué.</li>
                            <li>Un texte descriptif qui est contraire aux présentes Conditions d’Utilisations.</li>
                            <li>Une (ou plusieurs) photos qui ne représente(nt) pas explicitement un bien immobilier ou une photo dont le bien immobilier ne se trouve qu'en second plan.</li>
                            <li>Une annonce qui mentionne l'adresse d'un autre site internet.</li>
                            <li>Une annonce qui est fausse, notamment par rapport à sa localisation, ou une annonce est illégale.</li>
                        </ul>

                        <h4>
                            Restriction d'accès à la plateforme
                        </h4>


                        <p>Nous nous réservons le droit unilatéral d'interdire l'accès à tout ou partie des sites ou de l’application limmobilier.tn à toute personne physique ou morale qui :<br /></p>
                        <ul>
                            <li>Contrevient aux présentes Conditions d’utilisation, ainsi que, pour les professionnels, aux « Conditions générales applicables aux clients professionnels »;</li>
                            <li>Utilise les données personnelles auxquelles il peut avoir accès via la plateforme pour proposer des produits ou services payants ou pour procéder à l'envoi, de messages non sollicités dans les boîtes e-mail des autres internautes ("spamming"), à toute autre fin commerciale, ou de toute autre façon non autorisée ;</li>
                            <li>Utilise les services proposés par limmobilier.tn  sans respecter les conditions spécifiques applicables à ces services ;</li>
                            <li>Place sur la plateforme de fausses annonces, des annonces déjà placées par la même personne physique ou morale ou des annonces illégales ;</li>
                            <li>Porter atteinte d'une manière ou d'une autre à la réputation d’limmobilier.tn , des sites ou de l’application ;</li>
                            <li>Porte atteinte aux droits intellectuels de tiers ;</li>
                            <li>Utilise la plateforme à des fins illicites.</li>
                        </ul>
                        <p>Nous nous réservons aussi le droit de poursuivre en justice ces mêmes personnes.</p>

                        <h4>
                            Disponibilité de la plateforme
                        </h4>


                        <p>Bien que nous veillions à mettre à votre disposition le la plateforme limmobilier.tn 7 jours sur 7 et 24 heures sur 24, nous nous réservons le droit, à tout moment et sans préavis, d'interrompre l'accès à celle-ci pour des raisons d'ordre technique ou autres ainsi que de mettre fin à nos services, et ce sans pouvoir être tenus responsables de ces interruptions et des conséquences qui pourraient en découler pour vous ou pour un tiers.<br /></p>
                        <p>limmobilier.tn  veillera, dans la mesure du possible, à ce que l’application, les sites et les fichiers pouvant être téléchargés sur celui-ci, soient exempts d’erreur (bug), de virus, de cheval de Troie (trojan horse), de logiciel espion (spyware) et autres logiciels malveillants ou non autorisés. Toutefois, il ne peut être exclu que ceux-ci puissent s'y retrouver. La  limmobilier.tn ne pourra en aucun cas être tenue responsable de tout préjudice et/ou perte qui en résulterait pour l'utilisateur. La  limmobilier.tn conseille vivement à l'Utilisateur d'installer des pare-feu (firewalls), anti-virus et autres logiciels de protection nécessaires sur son appareil.</p>

                        <h4>
                            Liens vers des sites tiers
                        </h4>

                        <p>Dans certaines de ses rubriques, la plateforme limmobilier.tn contient des hyperliens vers du contenu émanant de tiers ou vers des sites web exploités par des tiers. Nous ne sommes pas responsables de la qualité ou de l'exactitude de ce contenu ni de ces sites web. La  limmobilier.tn ne peut pas non plus être considéré comme approuvant, publiant ou autorisant ces sites web ou ce contenu. Par conséquent, les exploitants de ces sites sont seuls responsables du respect des législations et réglementations applicables aux produits et services qu'ils mettent en vente sur leur site, notamment en matière de protection du consommateur, de vente à distance, réglementation des prix, de protections des données personnelles, etc.<br /></p>

                        <h4>
                            Rubriques Acheter, Louer, Vendre et Services
                        </h4>

                        <p>Nous prenons soin de mettre à votre disposition des annonces immobilières fiables et mises à jour régulièrement sur le site et l’application limmobilier.tn. Néanmoins, ni limmobilier.tn  (gestionnaire de la plateforme limmobilier.tn) ni la personne physique ou morale (agent immobilier, notaire, promoteur ou particulier) qui nous a communiqué l'annonce, ne pourront être tenus pour responsables si des erreurs se sont glissées dans le contenu de l'annonce ou si le bien immobilier n'est plus disponible au moment où vous consultez l'annonce. L'annonce ne constitue en aucun cas une offre au sens juridique du terme. C'est pourquoi, avant de prendre une quelconque décision concernant un bien immobilier (achat, location...), nous vous recommandons d'obtenir directement auprès de l'agent immobilier, du notaire, du promoteur ou du particulier qui a placé l'annonce, la confirmation que celle-ci est toujours d'actualité et que les informations qui y figurent sont bien exactes et mises à jour.<br /></p>
                        <p>L'information est toujours de nature provisoire et les informations devront toujours être confirmées par l'agent immobilier, le notaire, le promoteur ou le particulier ayant publié l'annonce, notamment en ce qui concerne le prix demandé.</p>
                        <p>limmobilier.tn  ne peut en aucun cas être tenue responsable de la légalité, de l'exactitude et du contenu des annonces qui sont placées sur la plateforme limmobilier.tn, ni de la qualité des biens et/ou services vantés dans ces publicités.</p>
                        <p>limmobilier.tn met à disposition sur sa plateforme des outils permettant d'estimer le prix d'un bien immobilier. L'objectif de ce service est de mettre l'utilisateur en contact avec un agent immobilier lorsque celui-ci laisse son numéro de téléphone pour le faire. Tous les chiffres obtenus sont purement indicatifs. limmobilier.tn  ne peut être tenue responsable de l'exactitude de ces données.</p>
                        <p>La plateforme limmobilier.tn met à la disposition de ses utilisateurs des outils permettant la simulation de certains aspects financiers (calcul de capacité d'emprunt, calcul des frais d'acquisition d'un bien, calcul de remboursement mensuel). Toutes les données chiffrées qui en résultent sont transmises à titre purement indicatif. limmobilier.tn  ne peut en aucun cas être tenue responsable de l'exactitude de telles données.</p>
                        <p>Concernant les frais d'acquisition, nous vous invitons à consulter votre agent immobilier ou votre notaire. Votre notaire peut vous communiquer un décompte précis des divers frais, honoraires et droits avant la signature du compromis. Concernant votre emprunt, nous vous conseillons de prendre contact avec votre organisme financier.</p>
                        <p>Si vous placez une annonce sur la plateforme limmobilier.tn, vous vous engagez à divulguer uniquement du contenu (images, photos...) qui ne contrevient pas aux droits des tiers, y compris les droits intellectuels (en ce compris mais sans s'y limiter, les droits d'auteurs, les droits voisins, les droits de marque, les brevets, les dessins et modèles, les droits sur les noms commerciaux, la protection des banques de données ainsi que les droits relatifs à la protection du savoir-faire), ni à la morale et aux bonnes mœurs. Vous garantissez la  limmobilier.tn de toute action éventuelle de tiers concernant l'annonce que vous avez placée sur la plateforme limmobilier.tn.<br /><br />Certaines des annonces contiennent des plans de situation qui vous aideront à localiser l'emplacement exact du bien immobilier que vous recherchez. Nous vous informons que ces plans de situation sont la propriété exclusive des sociétés Market-IP et Google avec qui limmobilier.tn  a conclu un contrat pour la fourniture de services de cartographie. Ces plans ne peuvent donc pas être reproduits à des fins autres que la réalisation de copies pour un usage purement privé. Ils ne peuvent pas non plus être modifiés, traduits, loués ou publiés à des fins commerciales sous peine de violer les droits d'auteur de Market-IP et de Google ainsi que les présentes conditions d'utilisation de la plateforme limmobilier.tn. Il est possible que ces plans de situation contiennent des erreurs ou des inexactitudes, lesquelles ne sauraient en aucun cas engager notre responsabilité ni celle de Market-IP ou de Google.</p>

                        <h4>
                            price.limmobilier.tn
                        </h4>


                        <p>Le Site Web permet aux utilisateurs d'explorer une carte des prix en ligne et d'entrer en contact avec des professionnels de l'immobilier.</p>
                        <p>L'outil n'affichera qu'un prix moyen par mètre carré dans un lieu donné. Les prix moyens affichés pour un lieu donné ne sont que des estimations, dans le but de faciliter les projets et les négociations immobilières.</p>
                        <h3>Responsabilité </h3>
                        <p>Les prix estimés de biens présentés sur le Site Web sont des estimations automatisées calculées par des algorithmes. La Société ne peut en aucun cas être tenue responsable de l'exactitude des informations et des données, ni de l'utilisation qui pourrait en être faite. </p>
                        <p>La Société veillera, dans la mesure du possible, à ce que le Site Web soit exempt de bogues, de virus, de cheval de Troie (Trojan horse), de logiciel espion (spyware) et d'autres logiciels malveillants ou non autorisés. Toutefois, il ne peut être exclu que ceux-ci puissent s’y retrouver. En aucun cas, la Société ne peut être tenue responsable de tout dommage et/ou perte que l'Utilisateur pourrait subir de ce fait. La Société recommande fortement à l'Utilisateur d'installer des pare-feu (firewalls), un programme anti-virus et d'autres programmes de sécurité nécessaires sur son appareil.</p>
                        <p>Les prix estimés de biens présentés sur le site Web sont des estimations automatisées calculées par des algorithmes. La Société ne peut en aucun cas être tenue responsable de l'exactitude des informations et des données, ni de l'utilisation qui pourrait en être faite. </p>


                        <h4>
                            Responsabilité concernant le contenu placé sur la plateforme par les utilisateurs
                        </h4>

                        <p>Tous les textes, données, photographies, vidéos, messages ou autres contenus placés sur la plateforme par un utilisateur, engagent sa seule et unique responsabilité. limmobilier.tn  n’est pas responsable du contenu placé sur le site par les utilisateurs.<br /></p>
                        <h4>L'utilisateur</h4>
                        <ul>
                            <li>déclare, accepte et garantit que la  limmobilier.tn dispose du droit d'utiliser, de publier, d'exploiter tout contenu (texte, image, information) qu'il posterait ou publierait sur la plateforme limmobilier.tn aux fins d’exécution du ou des service(s) demandé(s) par l’utilisateur ;</li>
                            <li>accorde à la plateforme une licence sur les contenus déposés. Cette licence se doit d’être gratuite, mondiale, non exclusive, cessible et sous-licenciable pour permettre à limmobilier.tn d'utiliser, publier et reproduire le contenu dans le cadre du fonctionnement et de la promotion de leur service et de celui de tiers, y compris pour les buts indiqués dans le point suivant ;</li>
                            <li>accepte que ces données soient utilisées par limmobilier.tn  pour rendre ces services, y inclus pour créer des points de référence ou un historique des ventes et locations et pour créer des cartes de prospection ; et de vendre ces données, après pseudonymisation, à des parties tiers. <br /><br />- Ces points de référence pourront être utilisés par des professionnels de l’immobilier dans le cadre de leurs services. Seules seront utilisés à cette fin : une photo du lieu (tant que le bien est encore à vendre ou à louer), le descriptif du lieu tel qu’il aura été publié, l’adresse du lieu (tant que le bien est encore à vendre ou à louer) ou la zone géographique et le nom de la rue (pour les biens loués ou vendus), le jour, mois et l’année de la publication et, le cas échéant, de la ‘dé-publication’ de l’annonce, le prix mentionné sur l’annonce. En aucun cas cet historique ne mentionnera de donnée de contact de la personne ayant publié le bien. Les contenus seront anonymisés et conservés pour une durée indéterminée pour les finalités reprises ci-dessus.<br />- Ces cartes de prospection consistent à afficher les détails de l’Annonce (plus précisément date de vente, adresse, description et photos de l’Annonce) sur la carte de prix et ceci jusqu’à 12 mois après la vente du bien repris dans l’Annonce en question).</li>
                        </ul>
                        <p>En tant qu'utilisateur du service d'annonces de la plateforme limmobilier.tn, vous vous engagez à ne pas placer des contenus exprimant une opinion politique, ayant une connotation diffamatoire, raciste, xénophobe ou incitant à la discrimination, à la haine ou à la violence à l'égard d'une personne, d'un groupe, d'une communauté ou de leurs membres, en raison d'une prétendue race, de la couleur, de l'ascendance ou de l'origine nationale ou ethnique de ceux-ci ou de certains d'entre eux.<br /><br />Par le simple fait d'utiliser la plateforme limmobilier.tn, vous vous engagez à garantir la société anonyme limmobilier.tn  (le propriétaire de la plateforme limmobilier.tn), ses filiales, ses dirigeants, ses employés, ses partenaires et ses représentants, de tous recours en responsabilité et autres actions en justice qui seraient intentés par des tiers à son encontre, à la suite du placement par vos soins, d'un quelconque contenu. </p>


                        <h4>
                            Création de compte et protection par mot de passe
                        </h4>


                        <p>Vous êtes libre de vous inscrire sur la plateforme limmobilier.tn en complétant un formulaire à l’aide de vos données personnelles. Votre inscription, soumise à notre <a href="https://www.immoweb.be/fr/page/vie-privee"><strong>Politique de la vie privée</strong></a>, vous permet d'avoir accès à des services gratuits énumérés ci-dessous. Lorsque vous laissez votre adresse électronique, nous considérons qu'il s'agit d'une demande de réception de nos services d'information par courrier électronique et nous vous informerons de manière proactive sur les sujets qui vous intéressent. Veuillez noter que ces courriels ne sont pas conçus comme du matériel de marketing, mais comme des instruments d'information.<br /></p>
                        <ul>
                            <li>La mémorisation de vos critères de recherche de biens immobiliers.</li>
                            <li>La mémorisation des biens immobiliers qui vous intéressent.</li>
                            <li>La possibilité d'ajouter un rating personnel aux biens qui vous intéressent.</li>
                            <li>La possibilité d'ajouter un commentaire personnel aux biens qui vous intéressent.</li>
                            <li>La possibilité de simuler votre remboursement mensuel pour les biens qui vous intéressent.</li>
                            <li>La possibilité de prendre connaissance du nombre de fois qu'une annonce a été visionnée depuis sa création.</li>
                            <li>Un avertissement par e-mail dès qu'un bien correspondant à vos critères de recherche est placé sur la plateforme (‘alertes’).</li>
                            <li>Un avertissement dès qu'un bien qui vous intéresse, change de prix.</li>
                            <li>Des lettres d'informations et communications électroniques ou papier contenant des informations, invitations, sondages et concours dans le domaine de l'achat, la location, le déménagement, le financement, l’assurance, la certification PEB, le contrôles des installations des habitations (installation électrique, cuve de mazout, présence d’amiante, etc.), les contrats de bail, la rénovation, la décoration et l'immobilier en général.</li>
                        </ul>
                        <p>Votre mot de passe qui vous permet de vous identifier pour bénéficier de ces services est personnel et confidentiel. Vous êtes seul responsable de son utilisation et vous vous engagez à ne pas le divulguer à des tiers.</p>
                        <p>L'utilisateur est entièrement et seul responsable de toute activité effectuée sous son code d'accès.</p>

                        <h4>
                            Droits intellectuels
                        </h4>

                        <p>Tout le contenu présent sur la plateforme limmobilier.tn, y compris notamment les textes, graphiques, logos, boutons, images, code, base de données et icônes, est la propriété intellectuelle de la société lindon and levy  et est protégé par des droits de propriété intellectuelle tel que le droit d'auteur et par les droits du producteur d'une base de données.<br /></p>
                        <p>La forme du site ainsi que celle de l’application (plan, choix et disposition des rubriques, organisation des données,...) sont protégées par le régime légal du droit d'auteur. La  limmobilier.tn interdit l'extraction et/ou la réutilisation de la totalité ou d'une partie substantielle sur le plan qualitatif ou quantitatif, du contenu de la plateforme.</p>
                        <p>La  limmobilier.tn interdit expressément la lecture ou la copie automatisée ou systématique de tout ou partie de la plateforme (images, données, etc.) à quelque fin et de quelque manière que ce soit, et quels que soient les moyens techniques utilisés (tels que scraping, etc.).</p>
                        <p>La  limmobilier.tn concède à l'utilisateur de la plateforme, par la présente, une licence, non exclusive, non cessible et révocable à tout moment sans motif, en vue d'accéder à son contenu, l'afficher et le télécharger à la stricte fin de prendre connaissance du contenu, et ce, sur un seul ordinateur. L'utilisateur pourra également imprimer une copie du contenu affiché sur la plateforme, uniquement pour son utilité personnelle, sous réserve qu'il n'altère d'aucune façon le contenu de la plateforme et qu'il conserve toutes les mentions de paternité et d'origine de la plateforme. La reproduction n'est donc autorisée qu'aux fins d'un usage privé et de copie privée au sens de la loi sur le droit d'auteur.<br /><br />Certains des noms, signes distinctifs et logos figurant sur la plateforme sont des marques déposées ou des noms de commerce appartenant à la SA limmobilier.tn ou à leurs propriétaires respectifs. Sauf autorisation expresse et préalable des titulaires, dont la SA limmobilier.tn, toute utilisation des noms, marques et logos et/ou utilisation illicite de signes similaires, est prohibée.<br /><br />Toute copie, traduction, adaptation, modification ou usage quel qu'il soit, de l'entièreté ou de l'un - des éléments protégés de la plateforme, sous quelque forme que ce soit et par quelque moyen que ce soit, est strictement interdit sans le consentement écrit préalable de la  limmobilier.tn. Toute utilisation commerciale du contenu de la plateforme est strictement interdite.<br /><br />Sauf refus exprès, qui ne doit pas être motivé, la création d'un lien hypertexte vers les pages d'accueil de la plateforme est autorisée. Tout hyperlien vers une page intérieure du site est donc interdit, sauf autorisation expresse et préalable de la  limmobilier.tn.<br /><br />En aucun cas, la  limmobilier.tn ne pourra être tenue pour responsable vis-à-vis des visiteurs de la plateforme de toute plainte ou action en justice intentée contre ceux-ci par un tiers qui prétendrait que l'usage de l'un des éléments de contenu de la plateforme, ou de l'un des produits ou services offerts sur la plateforme, porte atteinte à l'un de ses droits de propriété intellectuelle. </p>
                        <h4>
                            Dispositions diverses, droit applicable et juridiction
                        </h4>
                        <p>La nullité, la caducité ou le caractère non exécutoire de tout ou partie d'une des dispositions précédentes n'entraînera pas la nullité de l'ensemble des présentes Conditions d'utilisation. La disposition en question sera réputée non écrite et l'utilisateur accepte que la  limmobilier.tn substitue cette disposition par une autre qui remplira, dans la mesure du possible, la même fonction.<br /></p>
                        <p>Pour tout litige éventuel qui résulterait de l'usage des sites ou de l'application limmobilier.tn, le droit Tunisien sera applicable et seuls les tribunaux de Tunisie seront compétents.</p>
                        <p>Le Particulier qui a une question et/ou une plainte relative aux services de la  limmobilier.tn peut toujours contacter notre Service Client .</p>
                        <p>Pour les réclamations des clients professionnels qui ne parviennent pas à résoudre avec notre Service Client limmobilier.tn.</p>
                    </main><!-- .col -->
                </div><!-- .row -->
            </div><!-- .about-us__main -->    
            <!-- ht-breadcrumb -->
        </div>
    </section>
{% endblock %}