{% extends 'base.html.twig' %}
{% block meta %}
    <title>Tunisie annonce immobilier - limmobilier.tn Menion legales : Conditions d'utilisation - informations légales</title>
    <meta name="description" content="Tunisie annonce immobilier - Limmobilier.tn - annonces immobilières : annoncer, acheter, vendre et louer tous types. Conditions d'utilisation - informations légales" />
{% endblock %}
{% block body %}
    <section class="about-us">
        <div class="container">
            <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
                <li class="ht-breadcrumbs__item"><a href="{{ path('homepage') }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Accueil</span></a></li>
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">Mentions légales</span></li>
            </ul><!-- ht-breadcrumb -->

            <div class="about-us__main">
                <div class="row">
                    <main class="col-md-8 col-md-main">
                        <h1 class="about-us__title">Mentions légales</h1>
                        <p>
                            Coordonnées et responsabilités du Site
                            Raison Sociale : Lindon and Levy    
                            Adresse siège social : rue les berges du lac maracaibo 
                            TVA 1247001/Z/A/M/000
                            Contact : contact@limmobilier.tn
                        </p>
                        <p>


                            Droits d'auteur - copyrights
                            L'ensemble de ce site relève de la législation tunisienne et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques. La reproduction de tout ou partie de ce site sur quelque support que ce soit est formellement interdite sauf autorisation expresse et préalable du Responsable de Publication.
                        </p>
                        <p>
                            Contenu du site
                            Nous nous efforçons d'assurer l'exactitude et la mise à jour des informations diffusées sur ce site, et nous nous réservons le droit de modifier, à tout moment et sans préavis, le contenu ou la présentation de ce site. Nous ne pouvons cependant garantir l'absence d'erreurs et l'obsolescence de certaines informations à un moment déterminé. A ce titre, Spigraph ne saurait supporter aucune demande de dédommagement pour préjudice direct ou indirect subi par l'internaute à la suite de la consultation des informations contenues dans ce site
                        </p>
                        <p>
                            Responsabilité des liens
                            Ce site contient des liens vers des sites externes de tiers, dont nous n'avons aucun contrôle sur le contenu. Nous ne pouvons, par conséquent, faire aucune garantie concernant ce contenu tiers. La responsabilité du contenu des sites liés incombe uniquement au fournisseur ou à l'exploitant du site concerné. Tous les sites liés ont été vérifiés pour d'éventuelles violations de la loi quand ils étaient liés aux nôtres. À ce moment-là, nous n'avions connaissance d'aucun contenu pouvant enfreindre la loi. Cependant, nous ne pouvons pas nous attendre à ce que le contenu des sites liés soit surveillé de façon continue, à moins que nous ne soupçonnions une violation de la loi. En prenant connaissance d'une telle violation, nous supprimerons immédiatement le lien correspondant.
                        </p>
                        <p>
                            Liens hypertextes
                            Les utilisateurs de ce site ne peuvent mettre en place de liens hypertextes en direction du site susvisé sans l'autorisation expresse et préalable de Spigraph. Aussi, pour toute demande de création de liens hypertextes en direction de ce site, veuillez contacter le Responsable de Publication. Tous les liens et contenus pointant vers des partenaires, fournisseurs et autres sites Internet appartiennent à leurs auteurs respectifs. Ces liens mis en place ne peuvent en aucun cas engager la responsabilité de Spigraph
                        </p>
                        <p>
                            Déclaration de confidentialité et cookies
                            Votre vie privée est très importante pour nous. La Spigraph Privacy Statement explique quelles informations personnelles nous collectons et comment nous les utilisons. Pour d'autres questions sur la vie privée, veuillez envoyer un courriel à contact@limmobilier.tn .
                        </p>
                    </main><!-- .col -->
                </div><!-- .row -->
            </div><!-- .about-us__main -->
        </div><!-- .container -->
    </section>
{% endblock %}