{% extends 'base-admin.html.twig' %}

{% block title %}New Gouvernorat{% endblock %}

{% block body %}
    <h1>Create new Gouvernorat</h1>

    {{ include('admin/gouvernorat/_form.html.twig') }}

    <a href="{{ path('app_gouvernorat_index') }}">back to list</a>
{% endblock %}
