<table id="m_6328975196684647779header_outer" style="width:100%;background:#fff;border-bottom:#dcdfe2 1px solid;padding:0">
    <tbody>
        <tr>
            <td style="text-align:center;padding:0 24px 0 24px;height:27px">
                <table id="m_6328975196684647779header" style="width:100%;max-width:600px;font-size:18px;line-height:24px;margin:0 auto">
                    <tbody>
                        <tr>
                            <td style="vertical-align:middle;text-align:left;padding:18px 0 15px 24px">
                                <a href="" target="_blank" data-saferedirecturl=""><img src="https://limmobilier.tn/asset/images/logo-dark.png" alt="Logo Limmobilier.tn" class="CToWUd"></a>
                            </td>
                            <td style="text-align:right;padding:24px 0 15px 20px;font-size:14px">
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<div style="background:#f5f5f5">&nbsp;</div>
<table id="m_6328975196684647779container_outer" style="background:#f5f5f5;width:100%;">
    <tbody>
        <tr>
            <td id="m_6328975196684647779container_outer_td" style="padding-left:10px;padding-right:10px">
                <table style="width:100%;max-width:600px;margin:0 auto;padding-left:24px;padding-right:24px;text-align:left;background:#263962;border-radius:3px 3px 0 0;font-weight:bold;font-size:18px;line-height:18px;color:#ffffff;letter-spacing:0">
                    <tbody>
                        <tr>
                            <td style="padding:21px 24px 21px 24px;height:18px">
                                <span class="il">Votre</span> annonce a été envoyée. Merci
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <table style="border-collapse:separate;width:100%;max-width:600px;margin:0 auto;text-align:left;background:#fff;border:1px solid #dcdfe2;border-radius:0 0 3px 3px;font-size:14px;color:#000000;letter-spacing:0;line-height:24px">
                        <tbody>
                            <tr>
                                <td style="padding:24px"> Bonjour {{ nom }} {{ prenom }},
                                    <br>
                                    <br><span class="il">Votre</span> annonce "{{ annonce }}" a bien été envoyée avec succès. 
                                    <br>
                                    <br>Votre annonce sera en ligne des qu'elle  sera controlée et validée par nos administrateurs.
                                    <div style="text-align:center;overflow-x:hidden;color:#ffffff">
                                        <table border="0" cellspacing="0" cellpadding="0" style="margin:0 auto;color:#ffffff">
                                            <tbody>
                                                <tr>
                                                    <td style="padding:30px 0 10px 0;text-align:center;color:#ffffff">
                                                        <table border="0" cellspacing="0" cellpadding="0" style="width:auto;color:#ffffff">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="background:#4188ed;border-radius:3px"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <table align="left" style="text-align:left">
                                        <tbody>
                                            <tr>
                                                <td style="padding:30px 0 0 0;text-align:left"><span style="font-size:14px;color:#000000">Cordialement,<br><br>L'équipe Limmobilier.tn</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table style="font-size:14px;line-height:18px;color:#656565;letter-spacing:0;width:100%;max-width:600px;margin:0 auto;text-align:center;padding:0;border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td colspan="2" id="m_6328975196684647779footnote" style="LINE-HEIGHT:10px;PADDING-BOTTOM:0;PADDING-TOP:0;FONT:12px 'Trebuchet MS',Arial,Helvetica,sans-serif;PADDING-LEFT:15px;PADDING-RIGHT:15px">
                                <center><span style="color:#656565"><br><br><br>
                        </span></center>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td style="padding:0 0 24px 0;text-align:center"><img src="https://limmobilier.tn/asset/images/logo-dark.png" width="130" alt="Limmobilier.tn" class="CToWUd"></td>
                        </tr>
                        <tr>
                            <td style="padding:0 0 18px 0"> Des questions? <a href="https://limmobilier.tn/contact.html" title="Des questions? envoyez-nous un email" style="color:#448aeb;text-decoration:none" target="_blank">Envoyez-nous un e-mail</a>, nous serons ravis de vous aider !</td>
                        </tr>
                        <tr>
                            <td style="height:1px;line-height:0;font-size:0;overflow:hidden">
                                <table style="height:1px;line-height:1px;font-size:1px;background:#dcdfe2;width:60%;margin:0 auto;overflow:hidden;border-collapse:collapse">
                                    <tbody>
                                        <tr style="height:1px;line-height:1px;font-size:1px;overflow:hidden">
                                            <td style="height:1px;line-height:1px;font-size:1px;overflow:hidden">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        
                    </tbody>
                    <tbody>
                        <tr>
                            <td style="text-align:right"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>