{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur limmobilier.tn{% endblock %}

{% block body %}
    <h2>Bienvenue {{ nom }}</h2>
    <p>Votre inscription est confirmée !</p>
    <p>Vous pouvez désormais publier vos annonces immobilières sur notre site.</p>
    <p>Connectez-vous et commencez à déposer vos annonces dès maintenant.</p>
    <p>L'équipe limmobilier.tn</p>
{% endblock %}
