<form method="post" action="{{ path('app_recherche_delete', {'id': recherche.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recherche.id) }}">
    <button class="btn btn-danger font-weight-bolder">Supprimer</button>
</form>
