{% extends 'base.html.twig' %}

{% block body %}
    <section class="bookmarked-listing">
        <div class="container">
            <ul class="ht-breadcrumbs ht-breadcrumbs--y-padding ht-breadcrumbs--b-border">
                <li class="ht-breadcrumbs__item"><a href="{{ path('homepage') }}" class="ht-breadcrumbs__link"><span class="ht-breadcrumbs__title">Accueil</span></a></li>
                <li class="ht-breadcrumbs__item"><span class="ht-breadcrumbs__page">Mes messages</span></li>
            </ul><!-- .ht-breadcrumb -->
            <div class="bookmarked-listing__container">
                <div class="row">
                    {{ include("default/compte/_menuUser.html.twig") }}<!-- .col -->
                    <div class="card">
                        <div class="card-header">
                            <strong>Mon planning</strong>
                        </div>
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .bookmarked-listing__container -->
        </div><!-- .container -->
    </section>
{% endblock %}