{% extends 'base-admin.html.twig' %}

{% block title %}New Traffic{% endblock %}

{% block body %}
    <h1>Create new Traffic</h1>

    {{ include('admin/traffic/_form.html.twig') }}

    <a href="{{ path('traffic_index') }}">back to list</a>
{% endblock %}
