{% extends 'base-admin.html.twig' %}

{% block title %}New Delegation{% endblock %}

{% block body %}
    <h1>Create new Delegation</h1>

    {{ include('admin/delegation/_form.html.twig') }}

    <a href="{{ path('app_delegation_index') }}">back to list</a>
{% endblock %}
